<html>
      <hr>
      <h1>Welcome to Public Restroom Reviews!</h1>
      <hr>
      <h5>Your one stop shop for finding reviews on bathrooms when you need it</h5>
      <hr>
      <h1>What would you like to do?</h1>
      <ul>
            <li><a href="/restrooms">Reviews</a></li>
            <li><a href="/user_sign_out">Sign Out</a></li>
      </ul>

      <img src= "https://assets3.thrillist.com/v1/image/1856875/1000x666.6666666666666/flatten;crop;jpeg_quality=70">
</html>