<!DOCTYPE html>
<html>
      
      <style>
      h1 {
      color: white;
      }

      h2 {
      color: navy;
      }

      div.a {
  text-align: center;
  background-color: navy;
      }

      div.b {
  text-align: center;
      }

      div.c {
  text-align: center;
      }

    .p2 {
    font-family: Arial, Helvetica, sans-serif;
    }

      .p3 {
  font-family: "Lucida Console", "Courier New", monospace;
    }

      </style>

      <div class="a">
      <h1>
      <p class="p2"><strong>Welcome to Public Restroom Reviews!</strong></p>
      </h1>
      </div>
      <hr>

      <div class="b">
      <p class="p3"><h3>Your one stop shop for finding reviews on bathrooms when you need it</h3></p>
      <hr>
      </div>

      <h2>
      <p class="p2"><strong>What would you like to do?</strong></p>
      </h2>

      <ul>
            <li><a href="/restrooms">Reviews</a></li>
            <li><a href="/user_sign_out">Sign Out</a></li>
      </ul>

      <div class="c">
      <img src= "https://assets3.thrillist.com/v1/image/1856875/1000x666.6666666666666/flatten;crop;jpeg_quality=70">
      </div>
</html>